
.instruction-container
  position: relative
  margin-top: 20px
  display: flex
  flex-direction: column
  background: #23546c

.instruction-box
  display: flex
  color: white
  font-size: 11px
  padding: 8px 10px

.measurements-list
  display: flex
  flex-direction: column
  padding: 2px
  .label-container
    background: #1c232e
    margin-right: 5px
    .measure-count
      margin-right: 5px
  .measurement-tile-item
    margin: 0px

.instruction-icon-container
  min-width: 40px
  max-width: 40px
  display: flex
  justify-content: center
  align-items: center

.measurement-item
  background: #25363d
  .measurement-number
    background: #1c232e
    min-width: 25px;

.default-measurement-item
  @extend .measurement-item
  opacity: .6

.default-placeholder
  @extend .default-measurement-item
  opacity :1

.free-text
  font-weight: bold
  flex:1

.default-label-view
  width: 100px
  margin: 0px 0px 0px 0px
  background-color: #000000
  box-shadow: none
  height: 20px
  padding: 0 5px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.pointer-events-none
  pointer-events: none

.info-icon-container
  .icon-size
    width:16px
    height:16px
  .action-button-container
    margin: 0px

.width-100
  width: 100%

.select-box-in-instruction
  .select-ohif-container
    .select-ohif
      width: 100%
      margin: 0px 0px 0px 0px
      background-color: #1c232e
      box-shadow: none
      height: 20px
      padding: 0 5px

.pos-relative
  position: relative;

.pos-absolute
  position: absolute;

.select-box-style
  width: 78% !important
  margin: 0px 0px 0px 0px !important
  background-color: #1c232e !important
  box-shadow: none !important
  height: 20px !important
  padding: 0px 5px !important

.new-select-box
  @extend .select-box-style
  width: 91% !important
