.btnStyle {
  background: white;
  color: black;
  height: 50px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}

.labelStyle {
  margin-bottom: 100px;
}
