.buttonStyle {
  background-color: var(--hover-color);
  color: var(--primary-background-color);
  height: 40px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  min-width: 400px;
}

.contentLabel {
  font-size: 15px;
}
