
.color-picker
  position: fixed
  left: 0
  top: 0
  .picker
    display: inline-block
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08)
    .a-color-picker
       background-color: var(--ui-gray-darker)
       .a-color-picker-row:not(:first-child)
        border-top: 1px solid var(--ui-border-color)
      .a-color-picker-dot
        background-color: var(--default-color)

.measurement-title
  color: white
  padding: 4px 4px 4px 10px
  background: #085070
  display: flex
  align-items: center
  cursor: pointer
  margin: 0px 5px 0px 5px

.mt-4
  margin-top: 4px

.measurement-view
  margin-top:8px
  margin-left:8px

.user-wise-measurement-tile
  color: #bbb
  padding: 4px 4px 4px 0px
  display: flex
  align-items: center
  cursor: pointer
  margin: 5px 5px 0px 5px
  justify-content: space-between

.display-flex
  display:flex

.horizontal-line
  border-bottom: 1px solid #727272
  margin: 5px 5% 0px 5%

.avatar
  color: white
  width: 25px
  height: 25px
  border-radius: 200px
  font-size: 12px
  font-weight: 700
  padding: 4px

.collapsible-tab
  height: 30px
  display: flex
  color: white
  font-weight: bold
  background: #465560
  align-items: center
  justify-content: space-between
  flex: 1

.container-tile
  height: 30px
  display: flex
  color: #a5a5a5
  background: #111112
  align-items: center
  font-size: 13px
  flex: 1

.subject-container
  user-select: none

.icon-color
  stroke: var(--text-light-blue)
  color: var(--text-light-blue)

.dim
  opacity: .4

.total-measurement-count
  min-height: 25px
  min-width: 25px
  max-height: 25px
  max-width: 25px
  margin-left: 5px
  border-radius: 50%
  background: #0c6dff
  color: white
  font-size: 16px
  display: flex
  justify-content: center
  align-items: center

.flex-align-center
  display: flex
  align-items: center

.flex-align-center-end
  display: flex
  align-items: center
  justify-content: flex-end

.display-flex-column
  display: flex
  flex-direction: column

.icon-size
  font-size: 14px

.icon-container
  display: flex
  justify-content: center
  width: 25px
  align-items: center
  stroke: var(--text-light-blue)
  color: var(--text-light-blue)
  opacity: 0.7

.subdirectory-icon
  font-size: 20px
  width: 25px
  height: 23px

.measurement-tile
  color: white
  padding: 4px 4px 4px 10px
  display: flex
  align-items: center
  cursor: pointer
  margin: 5px 5px 0px 5px
  background: #018786

.measurement-tile-item
  color: white
  display: flex
  cursor: pointer
  margin: 3px 0px 0px 0px
  flex-direction: column

.measurement-group-tile-item
  color: white
  padding: 4px 8px 4px 4px
  display: flex
  cursor: pointer
  flex-direction: column
  font-size:13px

.measurement-group-tile
  flex:1
  color: white
  padding: 4px 4px 4px 10px

.padding
  padding: 4px 4px 4px 8px

.display-flex
  display: flex

.flex-align-center
  display: flex
  align-items: center

.color-picker-container
  min-height: 20px
  max-height: 20px
  min-width: 20px
  max-width: 20px
  border-radius: 4px

.item-content
  font-size: 13px
  display: flex
  align-items: center
  justify-content: space-between

.measure-count
  min-width: 15px
  max-width: max-content
  min-height: 15px
  max-height: 15px
  border-radius: 50px
  background: var(--text-light-blue)
  color: black
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center
  font-size: 10px
  padding :4px

.label
  font-weight: bold
  color: var(--text-light-blue)

.flex-justify-space-between
  display: flex
  justify-content: space-between

.flex-justify-flex-end-align-center
  display: flex
  justify-content: flex-end
  align-items: center

.p-8
  padding: 4px 4px 4px 8px

.mr-m4
  margin-right:-4px

.font-size-10
  font-size: 10px

.secondary-label-color
  color : var(--text-disabled-color)

.active-grouped-measurements
  border: 1px solid #00a6d2
  box-sizing: border-box

.inactive-grouped-measurements
  border: 1px solid transparent
  box-sizing: border-box

.boundary-boundary-measurements
  border: 1px solid red
  box-sizing: border-box

.active-border-bottom
  border-bottom: 1px solid #00a6d2

.inactive-border-bottom
  border-bottom: 1px solid transparent

.dim
  opacity : .4

.padding-left-8
  padding-left: 8px

.padding-left-5
  padding-left: 5px

.margin-bottom-5
  margin-bottom:5px

.margin-right-5
  margin-right: 5px

.margin-left-4
  margin-left: 4px

.margin-left-5
  margin-left: 5px

.enable-cursor-pointer
  cursor: pointer

.text-overflow
  display: block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.icon-size
  width: 18px
  height: 18px

.orientation-slice-color
  color: var(--text-light-gray)

.action-button-container
  margin-right: 4px
  display: flex

.pointer-events-none
  pointer-events: none

.nowrap
  white-space: nowrap

.label-container
  display: flex
  justify-content: left
  align-items: center
  margin-right: 5px
  width: 100%

.measurement-number
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  padding: 0 3px

.display-style-grid
  display: grid
  align-items: center
  margin-right: 5px

.width-40
  width: 40%

.width-60
  width: 60%

.width-100
  width: 100%

.padding-left-9
  padding-left: 9px

.margin-left-15
  margin-left: 15px

.add-annotation
  min-height: 18px
  max-height: 18px
  min-width: 18px
  max-width: 18px
  color: black
  background: white
  display: flex
  justify-content: center
  border-radius: 4px
  align-items: center
  cursor: pointer
  span
    width: 15px
    height: 15px

.add-annotation-label
  font-size: 12px

.new-annotation-box
  display: flex
  align-items: center
  user-select: none
  background: #25363d
  padding-top: 3px
  padding-bottom: 3px

.disabled-new-annotation-box
  opacity: .5
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
