.subFormHeader
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
.subFormTitle
  font-weight: bold;
  color: #fff;
.display-flex-column
  display: flex
  flex-direction: column
.enable-cursor-pointer
  cursor: pointer
.container-tile
  height: 30px
  display: flex
  color: #a5a5a5
  background: #111112
  align-items: center
  font-size: 13px
  flex: 1
.padding-left-5
  padding-left: 5px
.margin-bottom-5
  margin-bottom:5px
.display-flex
  display:flex
.height25
  height: 25px !important

.TabComponents
  .TabComponents_tabHeader
    display: flex
    flex-direction: column
    margin-left: -20px
    margin-right: -20px

  .TabComponents_tabHeader_selector
      border-bottom: 3px solid black
      padding: 0 25px

  .TabComponents_content
    min-height: 150px
    display: none
    overflow: auto

    &.active
      display: flex
      flex-direction: column
      // justify-content: space-between

  .dialog-separator,
  .dialog-separator-before,
  .dialog-separator-after
    position: relative
    height: 22px;

  .dialog-separator:before,
  .dialog-separator:after,
  .dialog-separator-before:before,
  .dialog-separator-after:after
    background-color: #000000
    box-shadow(-50px 0 0 #000000, 50px 0 0 #000000)
    content: ' '
    display: block
    height: 3px
    left: 0
    position: absolute
    width: 100%

  .dialog-separator:before,
  .dialog-separator-before:before
    top: -3px

  .dialog-separator:after,
  .dialog-separator-after:after
    bottom: -3px

// nav bar
.nav-tabs
  border-bottom: 0
  margin-bottom: 3px
  position: relative
  z-index: 1

  :hover
    cursor: pointer

  &>li
    font-size: 15px
    font-weight: normal
    height: 22px
    line-height: 22px
    margin-bottom: 0

    &>button
      display: block
      width: 100%
      line-height: inherit
      margin: 0
      height: inherit
      padding: 0 10px 0 10px
      outline: none

      &:after
        background-color: transparent
        bottom: -3px
        content: ' '
        display: block
        height: 3px
        transition(background-color 0.3s ease)
        width: 100%

    &>button, &.active>button
      &, &:hover, &:active, &:focus
        color: var(--active-color)
        background-color: transparent
        border: 0

    &.active>button
      font-weight: bold

      &:after
        background-color: var(--active-color)

.nav
  padding-left: 0;
  list-style: none;

  > li
    position: relative;
    display: block;

  > li
    float: left;
    margin-bottom: -1px;
