.selectLabel-container
  ul
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--text-primary-color);
    font-size: 10pt;
    font-weight: normal;
  li
    padding: 5px;
    display: flex;
    cursor: pointer;
  li:hover
    background-color: var(--input-placeholder-color--hover);
  .active-li
    background-color: var(--input-placeholder-color--hover);
    border-radius: 3px;

.color-picker-container
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 10px;
