.imageViewerViewport.empty ~ .CustomizedViewportOverlay
  display: none

.CustomizedViewportOverlay
  color: #9ccef9

  .overlay-element
    position: absolute
    font-weight: 400
    text-shadow: 1px 1px #000
    pointer-events: none
    width: 100%
    padding: 0px 10px

  .overlay-element.top
    top: 20px

  .overlay-element.bottom
    bottom: 20px

  .overlay-content
    display: flex;
    justify-content: space-between;
    word-break: break-word;

  .top-right,
  .bottom-right
    text-align: right

  .top-center
    padding-top: 20px
    text-align: center

  &.controlsVisible .topright,
  &.controlsVisible .bottomright
    right: calc(20px + 19px)

  svg
    color: #9ccef9
    fill: #9ccef9
    stroke: #9ccef9
    background-color: transparent
    margin: 2px
    width: 18px
    height: 18px
