.toolbar-button
  height: 48px;
  color: var(--default-color);
  float: left;
  text-align: center;
  padding: 0 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Chrome and Opera */
  stroke: var(--default-color);;
  fill: var(--default-color);

  .toolbar-button-label
    font-size: 12px;
    font-weight: 500;

  .expand-caret
    width: 8px;
    height: 8px;
    transform: translate(2px, 2px);

  svg
    height: 21px;
    width: 21px;
    margin: 2px;

  &:hover:not(.disabled)
    color: var(--hover-color);
    stroke: var(--hover-color);
    fill: var(--hover-color);

  &.active:not(.disabled), &:active:not(.disabled)
    color: var(--active-color);
    stroke: var(--active-color);
    fill: var(--active-color);

  &.disabled
    opacity: 0.5
    cursor: not-allowed

  .ellipse-icon
    transform: scaley(.8)

@media (max-width: 1600px)
  .toolbar-button
    padding: 0 8px

  .toolbar-button-label
    font-size: 9px !important

  .bottomLabel
    font-size: 9px !important
