.color-picker
  display: flex
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  .picker
    display: flex
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
    .a-color-picker
       background-color: var(--ui-gray-darker);
       .a-color-picker-row:not(:first-child)
        border-top: 1px solid var(--ui-border-color);
      .a-color-picker-dot
        background-color: var(--default-color);
