<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ title }}</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/public/docz.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap">

  <style>
    /* "Tide" theme */
    /* TODO:
    - Convert the other themes to CSS Variables
    - Allow user to set default CSS theme in JS config
    - Export the themes as identical JS objects
    - For theme switcher, update root-level CSS properties via JS (https://medium.com/@_bengarrison/accessing-and-modifying-css-variables-with-javascript-2ccb735bbff0)
    */
    :root {
      /* Interface UI Colors */
      --default-color: #9CCEF9;
      --hover-color: #ffffff;
      --active-color: #20A5D6;
      --ui-border-color: #44626F;
      --ui-border-color-dark: #3C5D80;
      --ui-border-color-active: #00a4d9;
      --primary-background-color: #000000;
      --box-background-color: #3E5975;

      --text-primary-color: #ffffff;
      --text-secondary-color: #91B9CD;
      --input-background-color: #2c363f;
      --input-placeholder-color: #d3d3d3;
      --text-light-blue: #a6cef5;
      --text-light-gray: #cccccc;

      --table-hover-color: #2c363f;
      --table-text-primary-color: #ffffff;
      --table-text-secondary-color: #91b9cd;

      --large-numbers-color: #6FBDE2;

      --state-error: #FFCCCC;
      --state-error-border: #FFCCCC;
      --state-error-text: #FFCCCC;

      /* Common palette */
      --ui-yellow: #E29E4A;
      --ui-sky-blue: #6FBDE2;
      /* State palette */
      --ui-state-error: #FFCCCC;
      --ui-state-error-border: #993333;
      --ui-state-error-text: #661111;
      --ui-gray-lighter: #436270;
      --ui-gray-light: #516873;
      --ui-gray: #263340;
      --ui-gray-dark: #16202B;
      --ui-gray-darker: #151A1F;
      --ui-gray-darkest: #14202A;
      --ui-gray-light-background: #cccccc;

      --calendar-day-color: #d3d3d3;
      --calendar-day-border-color: #d3d3d3;
      --calendar-day-active-hover-background-color: #516873;
      --calendar-main-color: #263340;
      --viewport-border-thickness: 1px;
      --timer-text-color: #00a699;
      --form-header-color: #23546c;
      --collapse-button-color: #c4c4c4;
    }

    body {
      font-family: 'Roboto', sans-serif !important;
    }
  </style>
  {{ head }}
</head>

<body>
  <div id="root" />
  {{ footer }}
</body>

</html>
