.folder-back {
  padding: 5px 0 5px 5px;
  cursor: pointer;
}

.folder-back:hover {
  background: #2f728c;
}

.item-menu {
  padding: 5px 0 5px 5px;
  cursor: pointer;
  word-break: break-all;
}

.item-menu:hover {
  background: #2f728c;
}

.file-viewer {
  flex: 1;
  overflow: auto;
  margin: 3px 0 3px 0;
  background: #151a1f;
  width: 300px;
  height: 300px;
  max-height: 300px;
}

.file-viewer::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.choose-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 10px 8px 10px;
  color: #fff;
  background-color: #337ab7;
}

.disable-choose-btn {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 8px 10px 8px 10px;
  color: #333;
  background-color: #93989c;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.segment-file-chooser-dialog {
  width: 340px;
  height: 480px;
}

.analysis-item-header {
  padding: 5px 0 5px 10px;
  background-color: var(--datePicker-input-background);
  word-break: break-all;
}

.analysis-item {
  padding: 5px 0 5px 10px;
  cursor: pointer;
  word-break: break-all;
}

.analysis-item:hover {
  background: #2f728c;
}
