.tab-link
  margin: 0 10px 20px 0;
  &.active
    color: var(--ui-gray-dark);

.flex-container
  display: flex;
  flex-flow: row wrap;
  width: 600px;

.flex-item
  padding: 0 5px 0 5px;

.hotkey-combo
  color: var(--text-secondary-color);
  text-align: right;
  flex: 1 0 15%;

.hotkey-desc
  text-align: left;
  flex: 2 0 30%;

.glossary-flex-container
  display: flex;
  flex-flow: row wrap;
  max-height: 50vh;
  width: 50vw;
  @media screen and (max-width: 600px)
    width: calc(100vw - 44px); // 44px representing overlay padding space

.glossary-list-item
  width: calc(25%);
  display: flex;
  margin-bottom: 10px;
  @media screen and (max-width: 600px)
    width: 50%;
.ellipse-icon
  transform: scaleY(.8)


.glossary-name
  color: var(--text-secondary-color);
  padding: 0 5px 0 0;

.glossary-icon
  width: 25px;
  height: 25px;

.glossary-desc
  flex: 1;
  margin: 0 10px 0 5px;
