/* Remove default bullets */
ul {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.ulPosition {
  // margin: 0;
  padding: 0;
  margin-left: 8px;
  margin-top: 10px;
  color: #9CCEF9;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  // content: "\25B6";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.subjectActive {
  display: block;
  padding-left: 25px;
}

.rootActive {
  display: block;
  padding-left: 0px;
}

.sessionActive{
  display: block;
  padding-left: 25px;
}

.projectAnalysisActive {
  display: block;
  padding-left: 25px;
}

.subjectAnalysisActive {
  display: block;
  padding-left: 25px;
}

.sessionAnalysisActive {
  display: block;
  padding-left: 25px;
}

.aqactive {
  display: block;
  padding-left: 25px;
}

.listCenter {
  // display: flex;
  align-items: center;
}

.treeViewIcon {
  font-size: 17px !important;
  width: 15px !important;
  margin-right: 8px;
}

.selectedAcquisition {
  color: white;
  padding: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.alignItemsCenter {
  display : flex;
  align-items: center;
  min-height: 30px;
}

.navigate-panel {
  color: var(--text-primary-color);
  background-color: var(--primary-background-color)
  height: calc(100% - 60px)
  overflow-y: auto
  overflow-x: hidden
  overflow-wrap: anywhere
  line-break: anywhere
}

.navigate-panel-loading-indicator {
  position: relative;
  margin-left: 50%;
  margin-top: 50%;
  display: block;

  width: 44px;
  height: 44px;

  &:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #3C5D80;
    border-color: #3C5D80 transparent #3C5D80 transparent;
    animation: navigate-panel-loading-indicator 1.2s linear infinite;
  }
  @keyframes navigate-panel-loading-indicator {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
}

.padding-Left {
  padding-left: 10px;
}

.analysis-Header {
  background-color: var(--ui-gray-darker);
}
