.flex-justify-center
  display: flex
  justify-content: center

.button-style
  @extend .flex-justify-center
  background: white
  color: black
  height: 50px
  width: 120px
  align-items: center
  font-weight: bold
  text-align: center

.button-container
  display: flex
  justify-content: space-around
  min-width: 400px

.label-style
  @extend .flex-justify-center
  margin-bottom: 100px
  align-items: center
